.country{
   
    background-color: blueviolet;
    border: 3px solid gold;
    border-radius: 20px;
    margin: 20px;
    color: aliceblue;
    
   padding: 10px;
    
    
}
.counties{
    display: grid;
    grid-template-columns: (2,1fr);
}